# Eclipse
.classpath
.project
.settings/

# Intellij
.idea
*.iml
*.iws
*.class
/out
/out/
out/
/out/production
/out/production/Java-Basic_12-2021/
/out/production/Java-Basic_12-2021/*
*/Java-Basic_12-2021
/*/out
/workspace.xml

# Mac
.DS_Store

# Maven
log/
target/

#Idea

